<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luna.product.mapper.CategoryAttributeMapper">
    
    <resultMap type="CategoryAttribute" id="CategoryAttributeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="attributeCount"    column="attribute_count"    />
        <result property="paramCount"    column="param_count"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCategoryAttributeVo">
        select id, name, attribute_count, param_count, create_by, create_time, update_by, update_time, remark from tb_pms_product_attribute_category
    </sql>

    <select id="selectCategoryAttributeList" parameterType="CategoryAttribute" resultMap="CategoryAttributeResult">
        <include refid="selectCategoryAttributeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="attributeCount != null "> and attribute_count = #{attributeCount}</if>
            <if test="paramCount != null "> and param_count = #{paramCount}</if>
        </where>
    </select>
    
    <select id="selectCategoryAttributeById" parameterType="Long" resultMap="CategoryAttributeResult">
        <include refid="selectCategoryAttributeVo"/>
        where id = #{id}
    limit 1
    </select>

    <insert id="insertCategoryAttribute" parameterType="CategoryAttribute" useGeneratedKeys="true" keyProperty="id">
        insert into tb_pms_product_attribute_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="attributeCount != null">attribute_count,</if>
            <if test="paramCount != null">param_count,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="attributeCount != null">#{attributeCount},</if>
            <if test="paramCount != null">#{paramCount},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCategoryAttribute" parameterType="CategoryAttribute">
        update tb_pms_product_attribute_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="attributeCount != null">attribute_count = #{attributeCount},</if>
            <if test="paramCount != null">param_count = #{paramCount},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCategoryAttributeById" parameterType="Long">
        delete from tb_pms_product_attribute_category where id = #{id}
    </delete>

    <delete id="deleteCategoryAttributeByIds" parameterType="String">
        delete from tb_pms_product_attribute_category where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>