<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luna.product.mapper.SpuImagesMapper">
    
    <resultMap type="SpuImages" id="SpuImagesResult">
        <result property="id"    column="id"    />
        <result property="spuId"    column="spu_id"    />
        <result property="imgName"    column="img_name"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="imgSort"    column="img_sort"    />
        <result property="defaultImg"    column="default_img"    />
        <result property="deleted"    column="deleted"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSpuImagesVo">
        select id, spu_id, img_name, img_url, img_sort, default_img, deleted, create_by, create_time, update_by, update_time, remark from tb_pms_spu_images
    </sql>

    <select id="selectSpuImagesList" parameterType="SpuImages" resultMap="SpuImagesResult">
        <include refid="selectSpuImagesVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="spuId != null "> and spu_id = #{spuId}</if>
            <if test="imgName != null  and imgName != ''"> and img_name like concat('%', #{imgName}, '%')</if>
            <if test="imgUrl != null  and imgUrl != ''"> and img_url = #{imgUrl}</if>
            <if test="imgSort != null "> and img_sort = #{imgSort}</if>
            <if test="defaultImg != null "> and default_img = #{defaultImg}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
        </where>
    </select>
    
    <select id="selectSpuImagesById" parameterType="Long" resultMap="SpuImagesResult">
        <include refid="selectSpuImagesVo"/>
        where id = #{id}
    limit 1
    </select>

    <insert id="insertSpuImages" parameterType="SpuImages" useGeneratedKeys="true" keyProperty="id">
        insert into tb_pms_spu_images
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="spuId != null">spu_id,</if>
            <if test="imgName != null and imgName != ''">img_name,</if>
            <if test="imgUrl != null and imgUrl != ''">img_url,</if>
            <if test="imgSort != null">img_sort,</if>
            <if test="defaultImg != null">default_img,</if>
            <if test="deleted != null">deleted,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="spuId != null">#{spuId},</if>
            <if test="imgName != null and imgName != ''">#{imgName},</if>
            <if test="imgUrl != null and imgUrl != ''">#{imgUrl},</if>
            <if test="imgSort != null">#{imgSort},</if>
            <if test="defaultImg != null">#{defaultImg},</if>
            <if test="deleted != null">#{deleted},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSpuImages" parameterType="SpuImages">
        update tb_pms_spu_images
        <trim prefix="SET" suffixOverrides=",">
            <if test="spuId != null">spu_id = #{spuId},</if>
            <if test="imgName != null and imgName != ''">img_name = #{imgName},</if>
            <if test="imgUrl != null and imgUrl != ''">img_url = #{imgUrl},</if>
            <if test="imgSort != null">img_sort = #{imgSort},</if>
            <if test="defaultImg != null">default_img = #{defaultImg},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSpuImagesById" parameterType="Long">
        delete from tb_pms_spu_images where id = #{id}
    </delete>

    <delete id="deleteSpuImagesByIds" parameterType="String">
        delete from tb_pms_spu_images where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>